.col-md-4.col-sm-4
    .offer.offer-success
        .shape
            .shape-text
                | DEAL
        .offer-content
            h3.lead
                | Feature Profile
            small
                | Why not grab the spotlight
                br
                | and get the best offers ?
.col-md-4.col-sm-4
    .offer.offer-warning
        .shape
            .shape-text
                | FREE
        .offer-content
            h3.lead
                | Sell A Service
            small
                | Why not make money with
                br
                | your best skills ?
.col-md-4.col-sm-4
    .offer.offer-primary
        .shape
            .shape-text
                | DEAL
        .offer-content
            h3.lead
                | Post A Job
            small
                | Looking for  help for
                br
                | your personal needs ?