extend ./base
block stylesheets
    link(rel='stylesheet', href='/css/icomoon.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/notifications.css')
    link(rel='stylesheet', href='/css/offers.css')
block scripts
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-sanitize/angular-sanitize.min.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/js/notifications.js')
    script(src='/js/dashboard.js')
block notifications
    include partials/dashboard/notifications
block header
    include partials/dashboard/navbar
block breadcrumbs
block content
    .container
        .row
            include partials/dashboard/sidebar
            include partials/dashboard/ui
block footer
    include partials/copyright
