// Developed by XeonTek.
// All rights reserved. Copyright 2014

// variables
$colour_blue = #2d89b6
$colour_green = #8fbb6c
$colour_grey = #555
$colour_orange = #f38733
$colour_red = #f35353
$colour_white = #fff

$body_background = #f4f4f4
$body_font_family = "Montserrat", arial, sans-serif
$body_font_normal = 14px
$body_font_small = 12px
$body_font_weight = 400

$heading_font_family = "Lato", arial, sans-serif

//main elements
body
  background $body_background
  color $colour_grey
  font-family $body_font_family
  font-size $body_font_normal
  font-weight $body_font_weight
  padding-top 70px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

a
  color $colour_blue

small
  font-size $body_font_small

img
  border 0

h1
  color $colour_grey
  font-family $heading_font_family
  font-size $body_font_normal + 12px
  font-weight $body_font_weight + 300

h2
  color $colour_grey
  font-family $heading_font_family
  font-size $body_font_normal + 10px
  font-weight $body_font_weight + 300

h3
  color $colour_grey
  font-family $heading_font_family
  font-size $body_font_normal + 8px
  font-weight $body_font_weight + 300

h4
  color $colour_grey
  font-family $heading_font_family
  font-size $body_font_normal + 6px
  font-weight $body_font_weight

h5
  color $colour_grey
  font-family $heading_font_family
  font-size $body_font_normal + 4px
  font-weight $body_font_weight

h6
  color $colour_grey
  font-family $heading_font_family
  font-size $body_font_normal + 2px
  font-weight $body_font_weight

p
  color $colour_grey
  font-family $body_font_family
  font-size $body_font_normal
  font-weight $body_font_weight

// colour schemes
.danger
  background lighten($colour_red, 30%)
  border-color $colour_white
  color $colour_white

.default
  background lighten($colour_grey, 20%)
  border-color $colour_white
  color $colour_white

.info
  background lighten($colour_blue, 50%)
  border-color $colour_white
  color $colour_white

.primary
  background lighten($colour_blue, 20%)
  border-color $colour_white
  color $colour_white

.success
  background lighten($colour_green, 20%)
  border-color $colour_white
  color $colour_white

.warning
  background lighten($colour_orange, 20%)
  border-color $colour_white
  color $colour_white

.rounded
  @extends .default
  border-radius 36px
  -moz-border-radius 36px
  -webkit-border-radius 36px

// navbar
.navbar-inverse
  background-color $colour_grey
  border-color $colour_grey
  color $colour_white

.navbar-brand
  margin-top -10px

.navbar-nav
& > li
  & > a
    color $colour_grey
  & > .dropdown-menu
    border-top-left-radius 4px
    border-top-right-radius 4px
    margin-top 20px

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
  background-color lighten($colour_grey, 10%)
  color $colour_white

// footer
.footer
  background lighten($colour_grey, 15%)
  h4
    color darken($colour_white, 25%)
  a
    color darken($colour_white, 15%)
  p
    color $colour_white
  ul
    padding 0
  li
    list-style none
  .bottom-bar
    background $colour_grey
    padding 5px 0
    .copyright
      font-size $body_font_small
      color $colour_white
      line-height 4
      a
        &:hover
          color $colour_grey
    .social
      margin 0
      li
        float right
        margin-left 8px
        text-align center
        line-height 3
        a
          padding 0 5px
          &:hover
            color $colour_blue

.back-to-top
  cursor pointer
  position fixed
  bottom 30px
  right 30px
  display none

// alerts
.alert
  border-radius 0
  box-shadow 0
  -moz-border-radius 0
  -webkit-border-radius 0

.alert-danger
  @extends .danger

.alert-default
  @extends .default

.alert-info
  @extends .info

.alert-primary
  @extends .primary

.alert-success
  @extends .success

.alert-warning
  @extends .warning

.alert-rounded
  @extends .rounded

//buttons
.btn
  @extends .alert
  &:focus,
  &:hover,
  &:active
    outline none

.btn-stack .btn, .btn-stack .label, .btn-stack .badge, .btn-stack .btn-group
  margin 3px

.btn-danger
  @extends .danger

.btn-default
  @extends .default

.btn-info
  @extends .info

.btn-primary
  @extends .primary

.btn-success
  @extends .success

.btn-warning
  @extends .warning

.btn-rounded
  @extends .rounded

//panels
.panel
  margin-bottom 25px
  background-color $colour_white
  -webkit-border-radius 2px
  -moz-border-radius 2px
  border-radius 2px
  border 1px solid rgba(0, 0, 0, 0.1)
  border-top 0

.panel-body
  padding 10px 20px
  position relative

.panel-heading
  padding 12px 20px
  border 0
  border-bottom 1px
  border-style solid
  -webkit-border-radius 0px
  -moz-border-radius 0px
  border-radius 0px
  i
    margin-right 8px
  .label
    float right
    padding .4em .6em

.panel-danger
  border 1px solid darken($colour_white, 20%)
  border-top 2px solid $colour_red
  & > .panel-heading, .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6
    @extends .danger

.panel-default
  border 1px solid darken($colour_white, 20%)
  border-top 2px solid $colour_grey
  & > .panel-heading, .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6
    @extends .default

.panel-info
  border 1px solid darken($colour_white, 20%)
  border-top 2px solid $colour_blue
  & > .panel-heading, .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6
    @extends .info

.panel-primary
  border 1px solid darken($colour_white, 20%)
  border-top 2px solid $colour_blue
  & > .panel-heading, .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6
    @extends .primary

.panel-success
  border 1px solid darken($colour_white, 20%)
  border-top 2px solid $colour_green
  & > .panel-heading, .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6
    @extends .success

.panel-warning
  border 1px solid darken($colour_white, 20%)
  border-top 2px solid $colour_orange
  & > .panel-heading, .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6
    @extends .warning

// breadcrumb
.breadcrumb
  & > li
    & + li
      &:before
        content ""
        padding 0 0
        color $colour_white

// dropdown for navbar

.mega-dropdown
  position static !important
  width 100%

.mega-dropdown-menu
  box-shadow none
  padding 20px 0px
  width 100%
  -webkit-box-shadow none
  &:before
    content ""
    border-bottom 15px solid $colour_white
    border-right 17px solid transparent
    border-left 17px solid transparent
    position absolute
    top -15px
    left 285px
    z-index 10
  &:after
    content ""
    border-bottom 17px solid $colour_grey
    border-right 19px solid transparent
    border-left 19px solid transparent
    position absolute
    top -17px
    left 283px
    z-index 8
  & > li
    & > ul
      padding 0
      margin 0
      & > li
        list-style none
        & > a
          display block
          padding 3px 20px
          clear both
          font-size $body_font_normal
          font-weight normal
          line-height 1.428571429
          color $colour_blue
          white-space normal
  .dropdown-header
    color $colour_grey
    font-family $heading_font_family
    font-size $body_font_normal + 8px
    font-weight $body_font_weight + 300
  form
    margin 3px 20px
  .form-group
    margin-bottom 3px

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus
  text-decoration none
  background-color $colour_white

// wizard
.stepwizard-step
  p
    margin-top 10px

.process-row
  display table-row
  &:before
    top 50px
    bottom 0
    position absolute
    content " "
    width 100%
    height 1px
    background-color $colour_white
    z-order 0

.process
  display table
  width 100%
  position relative

.process-step
  display table-cell
  text-align center
  position relative
  button[disabled]
    opacity 1 !important
    filter unquote('alpha(opacity=100) !important')
  p
    margin-top 10px