extend ../base_dashboard
block main
        .col-md-12.col-sm-12
            .row
                .col-md-4.col-sm-4
                    .panel.panel-primary
                        .panel-heading
                            .row
                                .col-md-3.col-sm-3
                                    i.fa.fa-comments.fa-5x
                                .col-md-9.col-sm-9.text-right
                                    .huge 26
                                    div New Offers
                        a(href='#')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-md-4.col-sm-4
                    .panel.panel-warning
                        .panel-heading
                            .row
                                .col-md-3.col-sm-3
                                    i.fa.fa-shopping-cart.fa-5x
                                .col-md-9.col-sm-9.text-right
                                    .huge 124
                                    div New Orders!
                        a(href='#')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-md-4.col-sm-4
                    .panel.panel-danger
                        .panel-heading
                            .row
                                .col-md-3.col-sm-3
                                    i.fa.fa-warning.fa-5x
                                .col-md-9.col-sm-9.text-right
                                    .huge 13
                                    div Jobs Closing!
                        a(href='#')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix

