.copyright
    .container
        .row
            .col-md-12.col-sm-12
                | &copy; &nbsp;
                = new Date().getFullYear() + ' '
                a(href='http://firethoughts.com/') firethoughts
                | &nbsp; All rights reserved.