extend ../base
block breadcrumbs
    include ../partials/breadcrumb
block header
    include ../partials/navbar
block footer
    include ../partials/footer_nav
    include ../partials/copyright
block content
    .container
        .row
            .col-md-12.col-sm-12
                .content-box
                    h1.text-green #{title}
                    hr
