extend ../base
block scripts
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-animate/angular-animate.min.js')
    //script(src='/js/slider.js')
block header
    include ../partials/navbar
    include ../partials/header_search
block footer
    include ../partials/footer_nav
    include ../partials/copyright
block content
    .container
        .row
            .col-md-8
                h1 #{heading}
