extend ../base
block scripts
    script(src='/vendor/angular/angular.min.js')
    //commented as we're not showing map anymore
    //script(src='/vendor/lodash/dist/lodash.min.js')
    //script(src='/vendor/angular-google-maps/dist/angular-google-maps.min.js')
    script(src='/vendor/angular-messages/angular-messages.min.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/js/support.js')
block breadcrumbs
    include ../partials/breadcrumb
block header
    include ../partials/navbar
block footer
    include ../partials/footer_nav
    include ../partials/copyright
block content
    .container
        .row
            .col-sm-8.col-md-8
                .content-box
                    h1.text-green Support is just one step away.
                    hr
                    h5
                        | We're available Monday to Friday (10am to 5pm). Whatever your problem, we'll get back to you asap!

                    div(ng-controller='EnquiryController as enquiry')

                        alert.col-sm-12.col-md-12(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)") {{alert.msg}}

                        form.form-horizontal(name='enquiryForm', ng-submit='enquiry.submit(enquiryForm.$valid)', novalidate)
                            .form-group(ng-class='{ "has-error" : enquiryForm.firstName.$invalid && !enquiryForm.firstName.$pristine }')
                                .col-sm-12.col-md-12
                                    input.form-control(type='text', name="firstName", placeholder='First Name', ng-model='enquiry.enquiry.firstName', required)
                                    div(ng-if='enquiryForm.firstName.$invalid && !enquiryForm.firstName.$pristine', ng-messages='enquiryForm.firstName.$error', ng-messages-include='html/messages.html')
                            .form-group(ng-class='{ "has-error" : enquiryForm.lastName.$invalid && !enquiryForm.lastName.$pristine }')
                                .col-sm-12.col-md-12
                                    input.form-control(type='text', name="lastName", placeholder='Last Name', ng-model='enquiry.enquiry.lastName', required)
                                    div(ng-if='enquiryForm.lastName.$invalid && !enquiryForm.lastName.$pristine', ng-messages='enquiryForm.lastName.$error', ng-messages-include='html/messages.html')
                            .form-group(ng-class='{ "has-error" : enquiryForm.email.$invalid && !enquiryForm.email.$pristine }')
                                .col-sm-12.col-md-12
                                    input.form-control(type='email', name="email", placeholder='Email Address', ng-model='enquiry.enquiry.email', required)
                                    div(ng-if='enquiryForm.email.$invalid && !enquiryForm.email.$pristine', ng-messages='enquiryForm.email.$error', ng-messages-include='html/messages.html')
                            .form-group(ng-class='{ "has-error" : enquiryForm.subject.$invalid && !enquiryForm.subject.$pristine }')
                                .col-sm-12.col-md-12
                                    input.form-control(type='text', name="subject", placeholder='Subject', ng-model='enquiry.enquiry.subject', required)
                                    div(ng-if='enquiryForm.subject.$invalid && !enquiryForm.subject.$pristine', ng-messages='enquiryForm.subject.$error', ng-messages-include='html/messages.html')
                            .form-group(ng-class='{ "has-error" : enquiryForm.description.$invalid && !enquiryForm.description.$pristine }')
                                .col-sm-12.col-md-12
                                    textarea.form-control(type='text', name="description", placeholder='Describe the reason of you contacting us', ng-model='enquiry.enquiry.description', required)
                                    div(ng-if='enquiryForm.description.$invalid && !enquiryForm.description.$pristine', ng-messages='enquiryForm.description.$error', ng-messages-include='html/messages.html')
                            .form-group
                                .col-sm-5.col-md-5.col-offset-4.col-sm-offset-4
                                    button.btn.btn-primary.btn-lg(type='submit', ng-disabled='enquiryForm.$invalid') Send

    //commented as we're not showing map anymore
    //.container-fluid
    //    .row
    //        .col-sm-12.col-md-12
    //            #map-canvas(ng-controller='MapController')
    //                ui-gmap-google-map(center='map.center' zoom='map.zoom', draggable='true' options='options', bounds='map.bounds')
    //                    ui-gmap-marker(coords='marker.coords' options='marker.options' events='marker.events' idkey='marker.id')



