extend ../base
block breadcrumbs
    include ../partials/breadcrumb
block header
    include ../partials/navbar
block footer
    include ../partials/footer_nav
    include ../partials/copyright
block content
    .container
        .row
            .col-md-12.col-sm-12
                .content-box
                    h1.text-green JobPlus #{title}
                    h6 Last Update: November 2014
                    hr
                    p
                        | JobPlus agrees to furnish services to the Subscriber, subject to the following Terms of Service.  Use of JobPlus's service constitutes acceptance and agreement to JobPlus's Terms of Service.
                    p JobPlus reserves the right to modify the Terms of Service without notice.
                    ol.legal
                        li
                            | Use of Services
                            p
                                | You may use our services, provided that you are of legal age to form a binding contract and are not barred from receiving such services under the laws of the United Kingdom or other jurisdictions. In order to access our services, you are required to provide current and factual identification, contact, and other information as part of the registration process. You are responsible for the confidentiality of your account information and for all activities that occur under your account. You are solely responsible for all content within your account. You agree to immediately notify JobPlus of any unauthorized use of your account or any other breach of security. JobPlus will not be liable for any loss or damage as a result of your failure to provide us with accurate information or to keep your account secure.
                        li
                            | Acceptable Conduct
                            p
                                | You are responsible for the actions of all users of your account and any data that is created, stored, displayed by, or transmitted by your account while using JobPlus. You will not engage in any activity that interferes with or disrupts JobPlus's services or networks connected to JobPlus.
                        li
                            | Prohibited Usage
                            p
                                | You agree that any of the below activities are considered prohibited usage and will result in immediate account suspension or cancellation without a refund and the possibility that JobPlus will impose fees; and/or pursue civil remedies without providing advance notice.
                            p
                                | Misuse of System Resources: Intentional misuse of system resources, including but not limited to employing programs that consume excessive network capacity, CPU cycles, or disk IO.
                            p
                                | Spam and Unsolicited Bulk Email (UBE): JobPlus has a zero tolerance policy on spam, Junk E-mail or UBE. Spam, Junk-mail and UBE are defined as: the sending of the same, or substantially similar, unsolicited electronic mail messages, whether commercial or not, to more than one recipient. A message is considered unsolicited if it is posted in violation of a newsgroup charter or if it is sent to a recipient who has not requested the message. UBE also includes e-mail with forged headers, compromised mail server relays, and false contact information. This prohibition extends to the sending of unsolicited mass mailings from another service, which in any way implicates the use of JobPlus whether or not the message actually originated from our network.
                            p
                                | Mailing Lists: JobPlus's mass mailing rules also apply to mailing lists, list servs, or mailing services you may contract with. The policy is stated as follows: An acceptable mailing list will be focused at a targeted audience that has voluntarily signed up for your e-mail information or that has made their e-mail address available for distribution of information from you. The list must also allow for automatic removal of recipients with non-distribution in the future.
                            p
                                | Access to Other Computers or Networks without Authorization: Attempting unauthorized and/or illegal access of computers, networks and/or accounts not belonging to party seeking access. Any act which interferes with the services of another user or network. Any act relating to the circumvention of security measures.
                            p
                                | JobPlus and the services it provides may only be used for lawful purposes. Transmission, distribution, or storage of any information, data or material in violation of United Kingdom or state regulation or law, or by the common law, is prohibited. This includes, but is not limited to, material protected by copyright, trademark, trade secret, or other intellectual property rights. JobPlus's services may not be used to facilitate infringement of these laws in any way.
                            p
                                | Other Activities viewed as Illegal or Harmful: Engaging in illegal activities or engaging in activities harmful to the operations of JobPlus or JobPlus's customers.
                            p
                                | Providing False Data on any Contract or Application: including fraudulent use of credit card numbers.
                            p
                                | JobPlus does not prohibit the use of distributed, peer to peer network services such as Tor, nor does JobPlus routinely monitor the network communications of customer JobPluss as a normal business practice. However, customers are responsible for the contents of network traffic exiting their JobPlus. Any usage that prompts the receipt of abuse complaints pertaining to violation of United States and/or international copyright law must be promptly discontinued to avoid service cancellation for violation of these terms.
                        li
                            | Invoicing and Payment
                            p
                                | You agree that JobPlus shall be permitted to charge your credit card on a monthly, annual, or other agreed upon basis in advance of providing services. Payment is due upon invoicing. Service may be interrupted on accounts that reach 10 days past due. Accounts that are not collectable by JobPlus may be turned over to an outside collection agency for collection.
                            p
                                | Subscriber is aware that JobPlus may prospectively change the specified rates and charges from time to time.
                            p
                                | JobPlus is not responsible for any additional bank fees, interest charges, finance charges, over draft charges, or other fees resulting from charges billed by JobPlus. Currency exchange settlements will be based on agreements between you and the provider of your credit card.  Pro-rated credits are issued for unused services when customer retains any active service.  Pro-rated refunds are issued if customer does not retain any active service and they are specifically requested via the cancellation form. All refunds are subject to a $5.00 service charge unless cancelling within the 7 day money-back guarantee period.
                        li
                            | Support Boundaries
                            p
                                | JobPlus, provides 24 x 7 technical support to our subscribers via our Support Ticket system. The following are our guidelines when providing support: JobPlus provides support related to your JobPlus virtual server physically functioning. JobPlus does not offer technical support for application specific issues such as application configuration, cgi programming, web or mail server configuration, or any other such issue. JobPlus does not provide technical support to your customers.
                                | Please feel free to check our
                                a(href='/faq.cfm') Frequently Asked Questions
                                | ,
                                | our
                                a(href='/community/') Community Resources
                                | ,
                                | post to our
                                a(href='/forums/') Community Forums
                                | ,
                                | or ask for help in our
                                a(href='/chat') IRC channel
                                | .
                        li
                            | Account Cancellation or Suspension
                            p
                                | JobPlus reserves the right to suspend network access to any customer if, in the judgment of the JobPlus network administrators, the customer's server is the source or target of a violation of any of the other terms of service or for any other reason which JobPlus chooses. JobPlus will use reasonable care in notifying the Customer and in resolving the problem in a method resulting in the least amount of service interference. JobPlus reserves the right to terminate service without notice for continued and repeated violations of the terms of service.  If inappropriate activity is detected, all accounts of the Customer in question will be deactivated until an investigation is complete. Prior notification to the Customer is not assured. In extreme cases, law enforcement will be contacted regarding the activity. The customer will not be credited for the time the customer's machines were suspended.
                            p
                                | If at any time it becomes necessary for JobPlus to cancel a customer's service without cause, JobPlus will provide 30 days advance notice.
                            p
                                | You may cancel the service at any time by using the "Cancel Account" link located on the "My Accounts" sub-tab of the JobPlus Manager.  Accounts are canceled immediately after confirmation.  Cancellation of service does not relieve Subscriber of responsibility for the payment of all accrued charges.
                        li
                            | Network
                            p
                                | If JobPlus assigns Customer an Internet Protocol address for Customer's use, the right to use that Internet Protocol address shall belong only to JobPlus, and Customer shall have no right to use that Internet Protocol address except as permitted by JobPlus in its sole discretion in connection with the Services, during the term of this Agreement. Our allocation of IP addresses is limited by ARIN's policies. These policies state that use of IP addresses for IP based virtual hosts will not be accepted as justification for new IP addresses when the protocol supports name-based virtual hosts. What this means to you is that you MUST use name-based hosting where possible.
                        li
                            | Limitation of Liability
                            p
                                | Subscriber acknowledges that the service provided is of such a nature that service can be interrupted for many reasons other than the negligence of JobPlus and that damages resulting from any interruption of service are difficult to ascertain. Therefore, subscriber agrees that JobPlus shall not be liable for any damages arising from such causes beyond the direct and exclusive control of JobPlus. Subscriber further acknowledges that JobPlus's liability for its own negligence may not in any event exceed an amount equivalent to charges payable by subscriber for services during the period damages occurred. In no event shall JobPlus be liable for any special or consequential damages, loss or injury. JobPlus is not responsible for any damages your business may suffer. JobPlus does not make implied or written warranties for any of our services. JobPlus denies any warranty or merchantability for a specific purpose. This includes loss of data resulting from delays, non-deliveries, wrong delivery, and any and all service interruptions caused by JobPlus.
                        li
                            | Disclosure to Law Enforcement
                            p
                                | The Terms of Service specifically prohibits the use of our service for illegal activities. Therefore, Subscriber agrees that JobPlus may disclose any and all subscriber information including assigned IP numbers, account history, account use, etc. to any court who sends us a valid Court Order, without further consent or notification to the Subscriber. In addition, JobPlus shall have the right to terminate all service set forth in this Agreement.
                        li
                            | Warranty Disclaimer
                            p
                                | You agree that your use of JobPlus shall be at your sole risk.  All services provided by JobPlus are available as is, without warranty.
                        li
                            | Indemnity
                            p
                                | JobPlus wishes to emphasize that in agreeing to the JobPlus Terms of Service, customer indemnifies JobPlus for any violation of the Terms of Service that results in loss to JobPlus or the bringing of any claim against JobPlus by any third-party. This means that if JobPlus is sued because of a customer's or a customer of a customer's activity, the customer will pay any damages awarded against JobPlus, plus all costs and reasonable solicitor's fees.
                        li
                            | Notice
                            p
                                | You agree that JobPlus may provide you with notices, including those regarding changes to the Terms of Service, by email, regular mail, or postings on JobPlus services.
                        li
                            | Entire Agreement
                            p
                                | The Terms of Service (including any policies, guidelines or amendments that may be presented to you from time to time) constitute the entire agreement between you and JobPlus and govern your use of JobPlus services, superceding any prior agreements between you and JobPlus for the use of JobPlus services.
                        li
                            | Choice of Law and Forum
                            p
                                | The Terms of Service and the relationship between you and JobPlus shall be governed by the laws of the State of New Jersey without regard to its conflict of law provisions. You and JobPlus agree to submit to the personal and exclusive jurisdiction of the courts located within the county of Atlantic, New Jersey.
                        li
                            | Waiver and Severability of Terms
                            p
                                | The failure of JobPlus to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. If any provision of the Terms of Service is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the party's intentions as reflected in the provision, and the other provisions of the Terms of Service remain in full force and effect.
                        li
                            | Statute of Limitations
                            p
                                | You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of JobPlus services or the Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred.
                    p
                        | For information on how we collect and use customer information, please refer to our
                    = ' '
                        a(href='#{ url("privacy") }') Privacy Policy

