extend ../base
block scripts
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-messages/angular-messages.min.js')
    script(src='/vendor/angular-cookies/angular-cookies.min.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/js/forgot.js')
block breadcrumbs
    include ../partials/breadcrumb
block header
    include ../partials/navbar
block footer
    include ../partials/footer_nav
    include ../partials/copyright
block content
    .container
        .row
            .col-md-6.col-sm-6
                .content-box
                    h1.text-green Forgot your Password
                    hr
                    div(ng-controller='ForgotPasswordController as forgotPassword')
                        alert.col-sm-12.col-md-12(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)") {{alert.msg}}
                        form.form-horizontal(name='forgotPasswordForm', ng-submit='forgotPassword.submit(forgotPasswordForm.$valid)', novalidate)
                            .form-group(ng-class='{ "has-error" : forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine }')
                                .col-sm-12.col-md-12
                                    input.form-control(type='email', name="email", placeholder='Email Address', ng-model='forgotPassword.user.email', required)
                                    div(ng-if='forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine', ng-messages='forgotPasswordForm.email.$error', ng-messages-include='html/messages.html')
                            .form-group
                                .col-sm-5.col-md-5.col-offset-3.col-sm-offset-3
                                    button.btn.btn-primary.btn-lg(type='submit', ng-disabled='forgotPasswordForm.$invalid') Send Password Reminder
            .col-md-6.col-sm-6
                .content-box
                    .quote
                        .quote-text
                            | "Did you know?"
                        .quote-author
                            img.quote-author-photo(alt='Marie_50x50', src='http://lorempixel.com/output/people-q-c-80-80-1.jpg')
                            .quote-author-name Marie Currie, Ebene, Mauritius
